.calculation{
    &__container{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100vh;
        background-color:aliceblue;
    }
    &__workTable{
        position: relative;
        width: 1000px;
        height: 100%;
        background: repeating-linear-gradient(0deg, rgb(221, 221, 221) 0px, rgb(221, 221, 221) 1px,transparent 1px, transparent 20px),repeating-linear-gradient(90deg, rgb(221, 221, 221) 0px, rgb(221, 221, 221) 1px,transparent 1px, transparent 20px);
        display: flex;
        flex-direction: column;
    }
    &__settings{
        width: 100%;
        height: 15%;
    }
    &__blockBar{
        width: 22%;
        max-width: 70px;
        height: 100%;
        background-color:bisque;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__block{
        width: 70px;
        height: 70px;
        border: black solid 1px;
        z-index: 1;
        background-color:white;
        position: relative;
        overflow: hidden;

        &-R{
            order: 1;
            &:before {
                content: "";
                position: absolute;
                width: 200%;
                height: 200%;
                top: -71%;
                left: -72%;
                z-index: -1;
                background: url("../img/svg/R.SVG") 0 0 repeat;
              }

        }

        &-E{
            order: 2;
            &:before {
                content: "";
                position: absolute;
                width: 200%;
                height: 200%;
                top: -71%;
                left: -72%;
                z-index: -1;
                background: url("../img/svg/E.SVG") 0 0 repeat;
              }
        }

        &-B{
            order: 3;
            &:before {
                content: "";
                position: absolute;
                width: 200%;
                height: 200%;
                top: -71%;
                left: -72%;
                z-index: -1;
                background: url("../img/svg/B.SVG") 0 0 repeat;
              }
        }
        &-K{
            order: 4;
            /* background: url(../img/svg/Arrow.SVG) -34% -1100% no-repeat; */

            /* background: url(../img/svg/Arrow1.SVG) 51% 52% no-repeat; */
            /* background-size: 126px; */
            /* background-size: 92px; */
            span{
                &.top{
                    margin-left: 43px;
                }
                &.knot-text{
                    margin-left: 8px;
                    display: block;
                    width: 10px;
                }
/*                 &.left{
                    margin-left: 9px;
                    display: block;
                    margin-top: -15px;
                    width: 10px;
                }
                &.right{
                    margin-top: 6px;
                    margin-left: 9px;
                    display: block;
                    width: 10px;
                } */
            }

            &:before {
                content: "";
                position: absolute;
                width: 200%;
                height: 200%;
                top: -71%;
                left: -72%;
                z-index: -1;
                background: url("../img/svg/K.SVG") 0 0 repeat;
              }
        }
        &-Corner{
            order: 5;
            span{
                &.top{
                    margin-left: 43px;
                }
            }
            &:before {
                content: "";
                position: absolute;
                width: 200%;
                height: 200%;
                top: -71%;
                left: -72%;
                z-index: -1;
                background: url("../img/svg/Corner.SVG") 0 0 repeat;
              }
        }
    }
    &__blocksettings{
        height: 100vh;
        width: 25%;
    }
}

.none{
    display: none;
}

.grid{
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    &__row{
        display: flex;
    }
    &__cell{
        width: 70px;
        height: 70px;
        background-color: white;
        border:rgb(83, 37, 161) 1px solid;
    }
}

.blocksettings{
    &__container{
        height: 100vh;
        background-color:#F2F6F9;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    &__wrapper-N{
        display: none;
    }
    &__wrapper-R{
        display: none;
    }
    &__wrapper-E{
        display: none;
    }
}

.rotate{
    &-0{
        &:before {
            content: "";
            position: absolute;
            width: 200%;
            height: 200%;
            top: -71%;
            left: -29%;
            z-index: -1;
            background: url("../img/svg/R.SVG") 0 0 repeat;
            transform: rotate(0.25turn);
          }
    }
    &-1{
        &:before {
            content: "";
            position: absolute;
            width: 200%;
            height: 200%;
            top: -71%;
            left: -29%;
            z-index: -1;
            background: url("../img/svg/E.SVG") 0 0 repeat;
            transform: rotate(0.25turn);
          }
        &-180{
            &:before {
                content: "";
                position: absolute;
                width: 200%;
                height: 200%;
                top: -29%;
                left: -29%;
                z-index: -1;
                background: url("../img/svg/E.SVG") 0 0 repeat;
                transform: rotate(0.5turn);
              }
        }  
        &-270{
            &:before {
                content: "";
                position: absolute;
                width: 200%;
                height: 200%;
                top: -29%;
                left: -72%;
                z-index: -1;
                background: url("../img/svg/E.SVG") 0 0 repeat;
                transform: rotate(0.75turn);
                }
        }
    }
    &-2{
        &:before {
            content: "";
            position: absolute;
            width: 200%;
            height: 200%;
            top: -71%;
            left: -29%;
            z-index: -3;
            background: url("../img/svg/B.SVG") 0 0 repeat;
            transform: rotate(0.25turn);
          }
          &-180{
            &:before {
                content: "";
                position: absolute;
                width: 200%;
                height: 200%;
                top: -29%;
                left: -29%;
                z-index: -1;
                background: url("../img/svg/B.SVG") 0 0 repeat;
                transform: rotate(0.5turn);
              }
        }  
        &-270{
            &:before {
                content: "";
                position: absolute;
                width: 200%;
                height: 200%;
                top: -29%;
                left: -72%;
                z-index: -1;
                background: url("../img/svg/B.SVG") 0 0 repeat;
                transform: rotate(0.75turn);
                }
        }
    }
    &-3{
        &:before {
            content: "";
            position: absolute;
            width: 200%;
            height: 200%;
            top: -71%;
            left: -29%;
            z-index: -2;
            background: url("../img/svg/K.SVG") 0 0 repeat;
            transform: rotate(0.25turn);
          }
          &-180{
            &:before {
                content: "";
                position: absolute;
                width: 200%;
                height: 200%;
                top: -29%;
                left: -29%;
                z-index: -1;
                background: url("../img/svg/K.SVG") 0 0 repeat;
                transform: rotate(0.5turn);
              }
        }  
        &-270{
            &:before {
                content: "";
                position: absolute;
                width: 200%;
                height: 200%;
                top: -29%;
                left: -72%;
                z-index: -1;
                background: url("../img/svg/K.SVG") 0 0 repeat;
                transform: rotate(0.75turn);
                }
        }
    }
    &-4{
        &:before {
            content: "";
            position: absolute;
            width: 200%;
            height: 200%;
            top: -71%;
            left: -29%;
            z-index: -2;
            background: url("../img/svg/Corner.SVG") 0 0 repeat;
            transform: rotate(0.25turn);
          }
          &-180{
            &:before {
                content: "";
                position: absolute;
                width: 200%;
                height: 200%;
                top: -29%;
                left: -29%;
                z-index: -1;
                background: url("../img/svg/Corner.SVG") 0 0 repeat;
                transform: rotate(0.5turn);
              }
        }  
        &-270{
            &:before {
                content: "";
                position: absolute;
                width: 200%;
                height: 200%;
                top: -29%;
                left: -72%;
                z-index: -1;
                background: url("../img/svg/Corner.SVG") 0 0 repeat;
                transform: rotate(0.75turn);
                }
        }
    }

};

.active{
    border: 2px red dotted;
};

.fraction{
    display: inline-block;
    text-align: center;   
    line-height: 1.2rem;
    vertical-align: -0.6rem;
/*     &__top{
        text-align: center;
    } */
    &__bottom{
        border-top: 1px solid #000;
        display: block;
    }
}