
@import "../helpers/variables";

header{
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 2;
}

//------------------------  wordpress class   --------------//
 
.header{
    &__main{
        position: relative;
        z-index: 1;
    }
    &__title a{
        color:$color-text;
        &:hover{
            cursor: pointer;
            text-decoration: none;
            color: $main-color;
        }
    }
    &__title-cat{
        border-bottom: 3px solid $main-color;
        margin-bottom: 1rem;
    }
}




.header{
    position: relative;
    width: 100%;
    background-color:$main-color;
    z-index: 2;



    &__menu{
        display: none;
    }
    &__nav{
        background-color:$main-color;
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        color: white;
        font-size:22px;
        padding: 0px 20px;
        font-weight: 700;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            text-decoration: none;
        }
        &-block{
            margin: 0;
            padding: 0;
            display: flex;

        }
    }
    &__button{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }
    &__search{
        text-align: center;
        margin-right: 5px;
        width: 45px;
        height: 45px;
        background-color: $main-color;
        color: white;
        .icon-search:before {
            content: "\e986";
            color: white;
            font-size: 23px;
            line-height: 45px;
          }
    }
    &__hamburger{
        margin-right: 10px;
        height: 45px;
        width: 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
            span{
                display: block;
                margin-top: 4px;
                margin-bottom: 4px;
                width: 30px;
                height: 2px;
                background-color:white;
            }
            &_active{
                position: fixed;
                top: 12px;
                right: 0px;
                z-index: 2;
                transition: 0.5s all;
                span{
                    &:first-child{
                        width: 40px;
                        margin-top: 0;
                        margin-bottom: 0px;
                        transform: translateY(+2px) rotate(45deg);
                        transition: 0.5s all;
                        background-color:#000;
                    }
                    &:nth-child(2){
                        display: none;
                        background-color:#000;
                    }
                    &:nth-child(3){
                        width: 40px;
                        margin-top: 0;
                        margin-bottom: 0;
                        transform: translateY(-2px) rotate(-45deg);
                        background-color:#000;
                    }
                    display: block;
                    margin-top: 4px;
                    margin-bottom: 4px;
                    width: 30px;
                    height: 4px;
                }
            }
    }
    &__social{
        display: none;
    }
}

.nav{
    background-color: white;
   /*  animation: fadeInLeft 0.5s; */
    position: fixed;
    top: 0px;
    right: -350px;
    display: flex;
    height: 100vh;
    width: 320px;
    &__wrapper{
        width: 320px;
    }
    &_active{
        animation: fadeInRight 0.5s;
        z-index: 1;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        top: 0px;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center; 
        height: 100vh;
        width: 320px;
        background-color: rgba($color: #fff, $alpha: 1);
        li {
            list-style: none;
        }
    }
    .menu-item{
        display: flex;
        justify-content: center;
        border-bottom: solid 1px;
        border-color: rgb(233, 233, 233);
    
        a{
            margin-left: 30px;
            width: 300px;
            display: block;
            line-height: 60px;
            text-decoration: none;
            color: $menu-color;
            font-size: 21px;
            font-weight: 700;
            text-transform: uppercase;
            &:hover{
                cursor: pointer;
                color: $active-color;
            }
        }
        li{
            list-style: none;
        }   
    }
}
