.search{
    &__form{
        background-color: $bg-color;
        position: relative;
        padding: 90px 0 50px 30px;

    }
    &__input{
        width: 270px;
        height: 48px;
        border: none;
        color: $menu-color;
        font-size: 1rem;
        padding-left: 20px;
        padding-right: 45px;
    }
    &__button{
        position: absolute;
        right: 35px;
        top: 96px;
        width: 40px;
        height: 40px;
        border: none;
        background-color: white;
        color: $menu-color;
        .icon-search:before {
            content: "\e986";
            color: $menu-color;
            font-size: 23px;
          }
    }
    &__form-desctop{
        display: none;
    }
}