// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

/* $main-color: #0071ce;
$color-text:rgb(33,37,41);
$bg-color:#f7f7f7;
$active-color:#d06c6c; //цвет выделения активной позиции в сайдбаре (второй гдавный цвет в офрмлении)
 */

 $main-color: #094B85;
 $color-text:rgb(33,37,41);
 $bg-color:#F2F6F9;
 $active-color:#D44113; //цвет выделения активной позиции в сайдбаре (второй гдавный цвет в офрмлении)
 
 /* $color-text:rgb(33,37,41); */
 
 
 /* $main-color: #466791;
 $bg-color:#F5F5F5;
 $active-color:#EB4C17; //цвет выделения активной позиции в сайдбаре (второй гдавный цвет в офрмлении) */
 
 
 /* $main-color: #007CB7;
 $bg-color:#D1E7F2;
 $active-color:#FF6633; //цвет выделения активной позиции в сайдбаре (второй гдавный цвет в офрмлении) */
 
 /* $main-color: #64c4d0;
 $bg-color:#e4e0e4;
 $active-color:#c42034; */
 
 /* $bg-color: #f0f0f0; */
 $menu-color: #262626;
 $hover-color: #3d91d6;
 $header-mobile: 55px;
 $header-desktop: 68px;
 /* $main-color: #007bff; */
 $pad: 48px;//не нужен
 
 